<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>Nombre: {{this.title}} - Descripcion: {{this.description}} - Codigo: {{this.code}} -
                Precio: {{this.price}} - Stock: {{this.stock}} - Categoria: {{this.category}}
            </li>
        {{/each}}
    </ul>
    <script src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</body>
</html>